################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/bin
/API/obj
/API/Properties/PublishProfiles
/Core/bin
/Core/obj
/Domain/bin
/Domain/obj
/Model/bin
/Model/obj
/Service/bin
/Service/obj
/WebApp/dist
/WebApp/node_modules
